In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

In [79]:
permits = pd.read_csv('../data/Residential_Short_Term_Rental_Permits_view_-4632427886711569466.csv')
permits.head(3)

,Permit #,Permit Subtype Description,Date Entered,Date Issued,Address,City,State,Subdivision Lot,Permit Type,Permit SubType,...,Contact Mobile Phone #,Contact Work Phone #,Contact Work Phone Ext,Longitude,Latitude,ObjectId,Zip Code,Parcel,x,y
0,201511887,Short Term Rental - Non-Owner Occupied,4/1/2015 5:00:00 AM,7/9/2015 5:00:00 AM,133 HAYNES PARK DR,NASHVILLE,TN,LOT 187 HAYNES PARK SUB SEC 2,CASR,CAZ10A002,...,NaN,NaN,NaN,-86.834922,36.209292,1,37218,06904012500,-9.666419e+06,4.329458e+06
1,201512342,Short Term Rental - Non-Owner Occupied,4/6/2015 5:00:00 AM,4/6/2015 5:00:00 AM,1004 MANSFIELD ST,NASHVILLE,TN,S SIDE MANSFIELD ST E OF MCFERRIN AVE IN OLWIL...,CASR,CAZ10A002,...,NaN,NaN,NaN,-86.752833,36.181426,2,37206,08208040200,-9.657281e+06,4.325614e+06
2,201512346,Short Term Rental - Non-Owner Occupied,4/6/2015 5:00:00 AM,4/7/2015 5:00:00 AM,1027 DELMAS AVE,NASHVILLE,TN,PT LOT 3 EASTHILL SUB,CASR,CAZ10A002,...,NaN,NaN,NaN,-86.741508,36.199439,3,37216,07210009800,-9.656020e+06,4.328099e+06

In [81]:
permits.dtypes

Permit #                       object
Permit Subtype Description     object
Date Entered                   object
Date Issued                    object
Address                        object
City                           object
State                          object
Subdivision Lot                object
Permit Type                    object
Permit SubType                 object
Purpose                        object
Council District                int64
Census Tract                    int64
Expiration Date                object
Permit Owner Name              object
Permit Owner Address 1         object
Permit Owner Address 2         object
Permit Owner Address 3         object
Permit Owner City              object
Permit Owner State             object
Permit Owner Zip Code          object
Permit Status                  object
Applicant                      object
Applicant Home Phone #        float64
Applicant Mobile Phone #      float64
Applicant Work Phone #        float64
Applicant Work Phone Ext      float64
Contact                        object
Contact Home Phone #          float64
Contact Mobile Phone #        float64
Contact Work Phone #          float64
Contact Work Phone Ext        float64
Longitude                     float64
Latitude                      float64
ObjectId                        int64
Zip Code                        int64
Parcel                         object
x                             float64
y                             float64
dtype: object

In [83]:
permits['Date Entered'] = pd.to_datetime(permits['Date Entered'])
permits['Date Issued'] = pd.to_datetime(permits['Date Issued'])
permits['Expiration Date']= pd.to_datetime(permits['Expiration Date'])

C:\Users\Praveena\AppData\Local\Temp\ipykernel_16428\2286643705.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  permits['Expiration Date']= pd.to_datetime(permits['Expiration Date'])

In [86]:
permits.dtypes

Permit #                              object
Permit Subtype Description            object
Date Entered                  datetime64[ns]
Date Issued                   datetime64[ns]
Address                               object
City                                  object
State                                 object
Subdivision Lot                       object
Permit Type                           object
Permit SubType                        object
Purpose                               object
Council District                       int64
Census Tract                           int64
Expiration Date               datetime64[ns]
Permit Owner Name                     object
Permit Owner Address 1                object
Permit Owner Address 2                object
Permit Owner Address 3                object
Permit Owner City                     object
Permit Owner State                    object
Permit Owner Zip Code                 object
Permit Status                         object
Applicant                             object
Applicant Home Phone #               float64
Applicant Mobile Phone #             float64
Applicant Work Phone #               float64
Applicant Work Phone Ext             float64
Contact                               object
Contact Home Phone #                 float64
Contact Mobile Phone #               float64
Contact Work Phone #                 float64
Contact Work Phone Ext               float64
Longitude                            float64
Latitude                             float64
ObjectId                               int64
Zip Code                               int64
Parcel                                object
x                                    float64
y                                    float64
dtype: object

In [104]:
permits[['date applied','issued time']]= permits['Date Entered'].astype(str).str.split(' ',expand=True)
permits[['date approved','approved time']] = permits['Date Issued'].astype(str).str.split(' ',expand=True)
#permits[['date expiration','expiration time']]= permits['Expiration Date'].astype(str).str.split(' ',expand = True)
#9/6/2025 0:00
permits.head(1)

,Permit #,Permit Subtype Description,Date Entered,Date Issued,Address,City,State,Subdivision Lot,Permit Type,Permit SubType,...,ObjectId,Zip Code,Parcel,x,y,date applied,time,issued time,date approved,approved time
0,201511887,Short Term Rental - Non-Owner Occupied,2015-04-01 05:00:00,2015-07-09 05:00:00,133 HAYNES PARK DR,NASHVILLE,TN,LOT 187 HAYNES PARK SUB SEC 2,CASR,CAZ10A002,...,1,37218,06904012500,-9666419.309,4.329458e+06,2015-04-01,05:00:00,05:00:00,2015-07-09,05:00:00

In [111]:
permits['year applied'] = permits['Date Entered'].astype(str).str.extract(r'(\d{4})', expand=False)
permits['year issued'] = permits['Date Issued'].astype(str).str.extract(r'(\d{4})', expand = False)
permits['Expiration year'] = permits['Expiration Date'].astype(str).str.extract('r(\d{4})', expand = False)
#4/1/2015 5:00:00 AM  7/9/2015 5:00:00 AM 
permits.head(5)

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Praveena\AppData\Local\Temp\ipykernel_16428\2556820312.py:3: SyntaxWarning: invalid escape sequence '\d'
  permits['Expiration year'] = permits['Expiration Date'].astype(str).str.extract('r(\d{4})', expand = False)

,Permit #,Permit Subtype Description,Date Entered,Date Issued,Address,City,State,Subdivision Lot,Permit Type,Permit SubType,...,x,y,date applied,time,issued time,date approved,approved time,year applied,year issued,Expiration year
0,201511887,Short Term Rental - Non-Owner Occupied,2015-04-01 05:00:00,2015-07-09 05:00:00,133 HAYNES PARK DR,NASHVILLE,TN,LOT 187 HAYNES PARK SUB SEC 2,CASR,CAZ10A002,...,-9.666419e+06,4.329458e+06,2015-04-01,05:00:00,05:00:00,2015-07-09,05:00:00,2015,2015,NaN
1,201512342,Short Term Rental - Non-Owner Occupied,2015-04-06 05:00:00,2015-04-06 05:00:00,1004 MANSFIELD ST,NASHVILLE,TN,S SIDE MANSFIELD ST E OF MCFERRIN AVE IN OLWIL...,CASR,CAZ10A002,...,-9.657281e+06,4.325614e+06,2015-04-06,05:00:00,05:00:00,2015-04-06,05:00:00,2015,2015,NaN
2,201512346,Short Term Rental - Non-Owner Occupied,2015-04-06 05:00:00,2015-04-07 05:00:00,1027 DELMAS AVE,NASHVILLE,TN,PT LOT 3 EASTHILL SUB,CASR,CAZ10A002,...,-9.656020e+06,4.328099e+06,2015-04-06,05:00:00,05:00:00,2015-04-07,05:00:00,2015,2015,NaN
3,201512348,Short Term Rental - Non-Owner Occupied,2015-04-06 05:00:00,2015-04-07 05:00:00,1029 DELMAS AVE,NASHVILLE,TN,PT LOT 3 EASTHILL SUB,CASR,CAZ10A002,...,-9.656014e+06,4.328104e+06,2015-04-06,05:00:00,05:00:00,2015-04-07,05:00:00,2015,2015,NaN
4,201512359,Short Term Rental - Non-Owner Occupied,2015-04-06 05:00:00,2015-04-06 05:00:00,925 DOUGLAS AVE,NASHVILLE,TN,LOT 212 TREVECCA SUB RENRAW,CASR,CAZ10A002,...,-9.656704e+06,4.327234e+06,2015-04-06,05:00:00,05:00:00,2015-04-06,05:00:00,2015,2015,NaN

In [115]:
permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15484 entries, 0 to 15483
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Permit #                    15484 non-null  object
 1   Permit Subtype Description  15484 non-null  object
 2   Date Entered                15484 non-null  datetime64[ns]
 3   Date Issued                 14173 non-null  datetime64[ns]
 4   Address                     15484 non-null  object
 5   City                        15483 non-null  object
 6   State                       15483 non-null  object
 7   Subdivision Lot             15483 non-null  object
 8   Permit Type                 15484 non-null  object
 9   Permit SubType              15484 non-null  object
 10  Purpose                     15383 non-null  object
 11  Council District            15484 non-null  int64
 12  Census Tract                15484 non-null  int64
 13  Expiration Date             15480 non-null  datetime64[ns]
 14  Permit Owner Name           15484 non-null  object
 15  Permit Owner Address 1      4145 non-null   object
 16  Permit Owner Address 2      15484 non-null  object
 17  Permit Owner Address 3      115 non-null    object
 18  Permit Owner City           15467 non-null  object
 19  Permit Owner State          15450 non-null  object
 20  Permit Owner Zip Code       15478 non-null  object
 21  Permit Status               15484 non-null  object
 22  Applicant                   14421 non-null  object
 23  Applicant Home Phone #      0 non-null      float64
 24  Applicant Mobile Phone #    0 non-null      float64
 25  Applicant Work Phone #      0 non-null      float64
 26  Applicant Work Phone Ext    0 non-null      float64
 27  Contact                     15078 non-null  object
 28  Contact Home Phone #        0 non-null      float64
 29  Contact Mobile Phone #      0 non-null      float64
 30  Contact Work Phone #        0 non-null      float64
 31  Contact Work Phone Ext      0 non-null      float64
 32  Longitude                   15484 non-null  float64
 33  Latitude                    15484 non-null  float64
 34  ObjectId                    15484 non-null  int64
 35  Zip Code                    15484 non-null  int64
 36  Parcel                      15484 non-null  object
 37  x                           15484 non-null  float64
 38  y                           15484 non-null  float64
 39  date applied                15484 non-null  object
 40  time                        15484 non-null  object
 41  issued time                 15484 non-null  object
 42  date approved               15484 non-null  object
 43  approved time               14173 non-null  object
 44  year applied                15484 non-null  object
 45  year issued                 14173 non-null  object
 46  Expiration year             0 non-null      object
dtypes: datetime64[ns](3), float64(12), int64(4), object(28)
memory usage: 5.6+ MB

In [153]:
#1.a.total applications applied for rental permit  in nashville
total_applications_received_by_year = permits.groupby('year applied')['Permit #'].count().sort_values(ascending=False).reset_index(name='count')
total_applications_received_by_year

   year applied  count
0          2019   2093
1          2018   2050
2          2022   1928
3          2017   1719
4          2016   1612
5          2021   1490
6          2015   1358
7          2024   1174
8          2023   1055
9          2020    948
10         2025     57

In [155]:
#1.b.total applications applied for rental permit by city  per year
total_applications_received_by_year = permits.groupby(['City','year applied'])['Permit #'].count().sort_values(ascending=False).reset_index(name='count')
total_applications_received_by_year

            City year applied  count
0      NASHVILLE         2019   2011
1      NASHVILLE         2018   1971
2      NASHVILLE         2022   1858
3      NASHVILLE         2017   1642
4      NASHVILLE         2016   1544
..           ...          ...    ...
95  MOUNT JULIET         2023      1
96  MOUNT JULIET         2017      1
97       JOELTON         2017      1
98       JOELTON         2018      1
99       JOELTON         2023      1

[100 rows x 3 columns]

In [159]:
# 2.a. total type of applications overall nashville
Type_of_permits_overall = permits.groupby('Permit Subtype Description')['Permit #'].count().reset_index(name = 'total count')
Type_of_permits_overall

               Permit Subtype Description  total count
0  Short Term Rental - Non-Owner Occupied         1761
1      Short Term Rental - Owner Occupied         5794
2         Short Term Rental – Multifamily         7929

In [162]:
# 2.a. total type of applications overall nashville year wise
Type_of_permits_overall_year = permits.groupby(['year applied','Permit Subtype Description'])['Permit #'].count().reset_index(name = 'total count')
Type_of_permits_overall_year

   year applied              Permit Subtype Description  total count
0          2015  Short Term Rental - Non-Owner Occupied          669
1          2015      Short Term Rental - Owner Occupied          458
2          2015         Short Term Rental – Multifamily          231
3          2016  Short Term Rental - Non-Owner Occupied          621
4          2016      Short Term Rental - Owner Occupied          614
5          2016         Short Term Rental – Multifamily          377
6          2017  Short Term Rental - Non-Owner Occupied          253
7          2017      Short Term Rental - Owner Occupied          801
8          2017         Short Term Rental – Multifamily          665
9          2018  Short Term Rental - Non-Owner Occupied          127
10         2018      Short Term Rental - Owner Occupied         1029
11         2018         Short Term Rental – Multifamily          894
12         2019  Short Term Rental - Non-Owner Occupied           71
13         2019      Short Term Rental - Owner Occupied          872
14         2019         Short Term Rental – Multifamily         1150
15         2020  Short Term Rental - Non-Owner Occupied            7
16         2020      Short Term Rental - Owner Occupied          295
17         2020         Short Term Rental – Multifamily          646
18         2021  Short Term Rental - Non-Owner Occupied            9
19         2021      Short Term Rental - Owner Occupied          370
20         2021         Short Term Rental – Multifamily         1111
21         2022  Short Term Rental - Non-Owner Occupied            3
22         2022      Short Term Rental - Owner Occupied          532
23         2022         Short Term Rental – Multifamily         1393
24         2023  Short Term Rental - Non-Owner Occupied            1
25         2023      Short Term Rental - Owner Occupied          455
26         2023         Short Term Rental – Multifamily          599
27         2024      Short Term Rental - Owner Occupied          357
28         2024         Short Term Rental – Multifamily          817
29         2025      Short Term Rental - Owner Occupied           11
30         2025         Short Term Rental – Multifamily           46

In [ ]:
# 2.b. total type of applications by city 
Type_of_permits_by_city = permits.groupby(['City','Permit Subtype Description'])['Permit #'].count().sort_values(ascending = False).reset_index(name = 'total count')
Type_of_permits_by_city

In [157]:
#3.b.total count of applications by city wise
total_applications_received_by_city = permits.groupby('City')['Permit #'].count().sort_values(ascending=False).reset_index()
total_applications_received_by_city

              City  Permit #
0        NASHVILLE     14864
1          MADISON       208
2          ANTIOCH       104
3        HERMITAGE        95
4      OLD HICKORY        86
5     WHITES CREEK        37
6   GOODLETTSVILLE        35
7        BRENTWOOD        25
8          JOELTON        14
9           PEGRAM         8
10        FRANKLIN         2
11    MOUNT JULIET         2
12    ASHLAND CITY         1
13     NOLENSVILLE         1
14         UNKNOWN         1

              City              Permit Subtype Description  total count
0        NASHVILLE         Short Term Rental – Multifamily         7838
1        NASHVILLE      Short Term Rental - Owner Occupied         5324
2        NASHVILLE  Short Term Rental - Non-Owner Occupied         1702
3          MADISON      Short Term Rental - Owner Occupied          158
4          ANTIOCH      Short Term Rental - Owner Occupied           87
5        HERMITAGE      Short Term Rental - Owner Occupied           64
6      OLD HICKORY      Short Term Rental - Owner Occupied           54
7   GOODLETTSVILLE      Short Term Rental - Owner Occupied           33
8          MADISON         Short Term Rental – Multifamily           33
9     WHITES CREEK      Short Term Rental - Owner Occupied           31
10     OLD HICKORY         Short Term Rental – Multifamily           24
11       HERMITAGE         Short Term Rental – Multifamily           22
12       BRENTWOOD      Short Term Rental - Owner Occupied           18
13         MADISON  Short Term Rental - Non-Owner Occupied           17
14         JOELTON      Short Term Rental - Owner Occupied           13
15         ANTIOCH  Short Term Rental - Non-Owner Occupied           10
16       HERMITAGE  Short Term Rental - Non-Owner Occupied            9
17     OLD HICKORY  Short Term Rental - Non-Owner Occupied            8
18         ANTIOCH         Short Term Rental – Multifamily            7
19       BRENTWOOD  Short Term Rental - Non-Owner Occupied            5
20          PEGRAM      Short Term Rental - Owner Occupied            5
21    WHITES CREEK  Short Term Rental - Non-Owner Occupied            4
22          PEGRAM  Short Term Rental - Non-Owner Occupied            3
23    MOUNT JULIET      Short Term Rental - Owner Occupied            2
24  GOODLETTSVILLE  Short Term Rental - Non-Owner Occupied            2
25        FRANKLIN      Short Term Rental - Owner Occupied            2
26       BRENTWOOD         Short Term Rental – Multifamily            2
27    WHITES CREEK         Short Term Rental – Multifamily            2
28         JOELTON         Short Term Rental – Multifamily            1
29     NOLENSVILLE      Short Term Rental - Owner Occupied            1
30    ASHLAND CITY      Short Term Rental - Owner Occupied            1
31         UNKNOWN      Short Term Rental - Owner Occupied            1